body {
    overflow: hidden; 
  }
.image-container {
    position: relative;
    animation-name: example;
    animation-duration: 2s;
  }

  .col-5 {
    position: relative;
    animation-name: example2;
    animation-duration: 2s;
  }
  
  @keyframes example {
    0%   {opacity: 0; left:0px; top:200px;}
    100% {opacity: 1; left:0px; top:0px;}
  }

  @keyframes example2 {
    0%   {opacity: 0; left:200px; top:0px;}
    100% {opacity: 1; left:0px; top:0px;}
  }
  